@import url("https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --letter-on-white: #17202a;
  --letter-on-dark: #fdfefe;
  --primary-color: #c60055;
  --background-nav: #f5eef8;
  --background-body: #f5eef8;
  --secondary-color: #1f092bf2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: "Proza Libre", sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  color: (var(--letter-color));
  background-color: var(--background-body);
}
a {
  color: var(--secondary-color);
  cursor: pointer;
}
a:hover {
  color: var(--primary-color);
}
h1 {
  font-size: 2rem;
}
p {
  margin: 1rem 0;
}

/* MARKDOWN STYLES */
.post__content h2{
  margin: 2rem 0 1.5rem 0;
}
.post__content blockquote{
  font-style: oblique;
  padding-left: 1.5rem;
  border-left: 2px solid var(--primary-color);
}
.post__content ul, .post__content ol{
  padding-left: 20px
}
.post__content li{
  margin: 1.5rem 0
}
.embebed {
  padding-left: 25px;
}