.button-link {
  display: block;
  width: max-content;
  padding: 1rem 2rem;
  margin: 2rem auto;
  background: var(--primary-color);
  text-decoration: none;
  color: var(--letter-on-dark);
  border-radius: 0.8rem;
  font-size: 1.2rem;
  transition: all 1s;
}
.button-link:hover {
  color: var(--letter-on-dark);
  transform: scale(1.1);
}
