.hero {
  position: relative;
  padding: 2rem;
  color: var(--letter-on-dark);
  background: url(@images/hero-image.jpg) center/cover no-repeat;
}
.hero::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000080;
}
.hero__container {
  position: relative;
  padding: 1rem;
  margin: auto;
  width: 100%;
  max-width: 50rem;
  text-align: center;
}
.hero__title {
  font-size: 2rem;
}
.hero__text {
  font-size: 1.1rem;
  margin: 1rem;
}
.hero__button {
  display: block;
  max-width: max-content;
  padding: 1rem 2rem;
  margin: auto;
  background: var(--primary-color);
  text-decoration: none;
  color: var(--letter-on-dark);
  border-radius: 0.8rem;
}
